<h1>Lists</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @lists.each do |list| %>
      <tr>
        <td><%= list.name %></td>
        <td><%= link_to 'Show List', list %></td>
      </tr>
    <% end %>
  </tbody>
  <%= link_to 'Create', new_list_path %></td>
</table>
